<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ITEMS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <item-list #items></item-list>

  <ion-fab bottom right>
    <button ion-fab (click)="promptAddItem();"><ion-icon name="add"></ion-icon></button>
    <button ion-fab (click)="nextPage();"><ion-icon name="arrow-forward"></ion-icon></button>
  </ion-fab>

</ion-content>
