<ion-list>
  <ion-item no-lines no-margin no-padding *ngFor="let person of people">
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-input placeholder="Name" (input)="person.name = $event.target.value;" value="{{person.name}}" no-margin></ion-input>
        <button ion-button (click)="removePerson(person);" color="danger" outline item-end>{{ 'REMOVE' | translate }}</button>
      </ion-item>
  </ion-item>
</ion-list>