<!--
  Generated template for the WhatHavePeopleToPayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'BILL' | translate }}</ion-title>
    <ion-buttons right margin-right>
      <button ion-button icon-only (click)="share();"><ion-icon name="share"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let person of peopleToPay">
        <ion-icon name="person" item-start></ion-icon>
        <label no-margin>{{person.name}}</label>
        <label item-end>{{person.toPay}}</label>
    </ion-item>
    <ion-item class="totalTag">
      <ion-icon name="pricetags" item-start></ion-icon>
      <label no-margin>Total</label>
      <label item-end>{{SumOfAllPrices}}</label></ion-item>
  </ion-list>

</ion-content>
