<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PEOPLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <people-list #people></people-list>

  <ion-fab bottom right>
    <button ion-fab (click)="addPerson();"><ion-icon name="add"></ion-icon></button>
    <button ion-fab (click)="nextPage();"><ion-icon name="arrow-forward"></ion-icon></button>
  </ion-fab>

</ion-content>
