<ion-header>
  <ion-navbar>
    <ion-title>{{ 'RELATEITEMSWITHPEOPLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row *ngFor="let itemWithPeople of itemsWithPeople">
        <ion-col col-5>
          <label item-start>{{itemWithPeople.item.name}}</label>
        </ion-col>
        <ion-col col-5>
          <ion-select disabled="{{itemWithPeople.allPeople}}" float-right [(ngModel)]="itemWithPeople.people" [selectOptions]="{title: translateService.instant('PEOPLE') }" cancelText="{{'CANCEL' | translate}}" okText="{{'SAVE' | translate}}" multiple="true">
            <ion-option *ngFor="let person of people" id="{{person.id}}">{{person.name}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-2>
            <label>
            <ion-checkbox [(ngModel)]="itemWithPeople.allPeople" (ionChange)="selectAllFromItem(itemWithPeople);"></ion-checkbox> <ion-icon name="people"></ion-icon></label>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right>
    <button ion-fab (click)="nextPage();"><ion-icon name="calculator"></ion-icon></button>
  </ion-fab>

</ion-content>
