<ion-grid>
  
  <ion-row class="header-row" *ngIf="items.length > 0">
    <ion-col col-5 class="header-col" lines><ion-label no-margin>{{ 'NAME' | translate }}</ion-label></ion-col>
    <ion-col col-2 class="header-col"><ion-label no-margin>{{ 'PRICE' | translate }}</ion-label></ion-col>
    <ion-col col-5 class="header-col"><ion-label no-margin>{{ 'QUANTITY' | translate }}</ion-label></ion-col>
  </ion-row>

  <ion-row *ngFor="let item of items" class="data-row" (click)="onItemClick(item);">
    <ion-col col-5><ion-label no-margin>{{item.name}}</ion-label></ion-col>
    <ion-col col-2><ion-label no-margin>{{item.price}}</ion-label></ion-col>
    <ion-col col-3><ion-label no-margin>{{item.quantity}}</ion-label></ion-col>
    <ion-col col-2 style="text-align: left;"><button ion-button (click)="removeItem(item.name);" color="danger" outline small icon-only align-right><ion-icon name="trash"></ion-icon></button></ion-col>
  </ion-row>
</ion-grid>
